@import url(https://fonts.bunny.net/css?family=jetbrains-mono:400,700);

@layer margin {
    * {
        padding: 0;
        margin: 0;
    }
}

@layer font {
    body {
        font-family: 'HelveticaNowTextRegular', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', 'Meiryo', sans-serif;
    }
    h1 {
        font-family: 'HelveticaNowTextCondensedExtraBold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', 'Meiryo', sans-serif-condensed, sans-serif;
        font-weight: normal;
    }
    h2, h3, h4, dt {
        font-family: 'HelveticaNowTextBold', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', 'Meiryo', sans-serif;
        font-weight: normal;
    }
    code {
        font-family: 'JetBrains Mono', monospace;
    }
}

@layer font-size {
    * {
        font-size: 16px;
        line-height: 24px;
    }
    h1 {
        font-size: 48px;
        line-height: 72px;
    }
    h2 {
        font-size: 24px;
        line-height: 24px;
    }
}

@layer color {
    html {
        background-color: #f8f8f8;
    }
    * {
        color: #333;
    }
}

@layer flex {
    body {
        display: flex;
    }
    main {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
        align-items: center;
    }
    article {
        display: flex;
        flex-direction: column;

        width: calc(4 * 168px + 3 * 24px);
        max-width: calc(100vw - 2 * 24px);
    }
}

@layer border {
    article {
        border-top: 3px solid #333;
        margin-top: calc(10.5px + 24px);
        padding-top: 10.5px;

        border-bottom: 3px solid #333;
        margin-bottom: calc(10.5px + 24px);
        padding-bottom: calc(10.5px + 24px);
    }
    h2 {
        border-bottom: 1px solid #333;
        margin-bottom: calc(11.5px - 24px); /* This negative margin invalidates the gap of the grid of a section. */
        padding-bottom: 11.5px;
    }
    section {
        border-top: 3px solid #333;
        margin-top: calc(10.5px + 24px);
        padding-top: 10.5px;
    }
    section:first-of-type {
        border-top-style: none;
        margin-top: 0;
        padding-top: 0;
    }
}

@layer grid {
    section {
        display: grid;
        grid-template-columns: 1fr 168px;
        grid-gap: 24px;
        direction: rtl;
    }
    section > * {
        direction: ltr;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, calc((100% - 3 * 24px) / 3));
        grid-gap: 24px;
    }
    .grid-item-1 {
        grid-column: span 1;
    }
    .grid-item-2 {
        grid-column: span 2;
    }
    .grid-item-3 {
        grid-column: span 3;
    }

    h2 {
        grid-column: span 2;
        padding-left: calc(168px + 24px);
    }
    dl {
        width: 100%;
        grid-column: span 2;

        display: flex;
	flex-wrap: wrap;
	align-items: stretch;
    }
    dt {
        width: 168px;
        padding-right: 24px;
        text-align: right;
    }
    dd {
        width: calc(100% - 168px - 24px);
    }
    dt, dd {
        padding-top: 3.75px;
        border-top: 0.5px solid #333;
        margin-top: 3.75px;
    }
    dt:first-of-type, dd:first-of-type {
        padding-top: 0;
        border-top-style: none;
        margin-top: 0;
    }

    @media only screen and (max-width: calc(4 * 168px + 5 * 24px - 1px)) {
        section > * {
            grid-column: span 2;
        }
        section.title > aside {
            grid-column: span 1;
        }
        section.title > header {
            grid-column: span 1;
        }
        section > *:empty {
            display: none;
        }
        section {
            grid-template-columns: 1fr calc((100% - 2 * 24px) / 3);
        }
        .grid-container {
            grid-template-columns: repeat(3, calc((100% - 2 * 24px) / 3));
        }
        .grid-item-2 {
            grid-column: span 3;
        }
        h2 {
            padding-left: 0;
        }
        dt {
            width: calc((100% - 2 * 24px) / 3);
        }
        dd {
            width: calc((100% - 2 * 24px) / 3 * 2 + 24px);
        }
        ul {
            padding-left: 24px;
        }
    }
    @media only screen and (max-width: calc(3 * 168px + 4 * 24px - 1px)) {
        section.title > aside {
            grid-column: span 2;
        }
        section.title > header {
            grid-column: span 2;
        }
        .grid-container {
            grid-template-columns: repeat(2, calc((100% - 24px) / 2));
        }
        .grid-item-2 {
            grid-column: span 2;
        }
        .grid-item-3 {
            grid-column: span 2;
        }
        dt {
            width: 100%;
            text-align: left;
        }
        dd {
            width: 100%;
        }
        dd {
            padding-top: 0;
            border-top-style: none;
            margin-top: 0;
        }
    }
    @media only screen and (max-width: calc(2 * 168px + 3 * 24px - 1px)) {
        .grid-container {
            grid-template-columns: 100%;
        }
        .grid-item-2 {
            grid-column: span 1;
        }
        .grid-item-3 {
            grid-column: span 1;
        }
    }
}

@layer figure {
    figure {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    figure:only-child {
        height: 100%;
    }
    figure * {
        vertical-align: middle;
    }
}

@layer margin, font, font-size, color, border, grid, figure;
