main:has(> #hero) {
    padding-top: 0;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--unit-size);
    padding-top: calc(4 * var(--unit-size));
    padding-bottom: calc(4 * var(--unit-size));
    text-align: center;
    text-wrap: balance;
    color: var(--accent-color);
}
#hero p {
    font-size: calc(var(--unit-size) * 2);
    line-height: calc(3 * var(--unit-size));
}
#hero img {
    display: block;
    width: calc(4 * var(--unit-size));
    height: calc(4 * var(--unit-size));
}
