main:has(> #hero) {
    padding-top: 0;
}

#hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    column-gap: var(--unit-size);
    width: calc(39 * var(--unit-size));
    padding-top: calc(3 * var(--unit-size));
    padding-bottom: calc(3 * var(--unit-size));
    text-align: start;
    text-wrap: balance;
    color: oklch(from var(--theme-color) calc((var(--target-background-lightness) + var(--target-foreground-lightness) * 2) / 3) 0.15 h);
}
#hero p {
    font-family: var(--font-condensed);
    font-size: calc(var(--unit-size) * 2);
    font-weight: 600;
    line-height: calc(3 * var(--unit-size));
}
#hero .hero-logo {
    display: flex;
    justify-content: center;
}
#hero img {
    display: block;
    width: min(calc(16 * var(--unit-size)), 100%);
    height: auto;
    opacity: 0.625;
}

@media (width < 984px) {
    #hero p {
        font-size: calc(var(--unit-size) * 5 / 3);
        line-height: calc(var(--unit-size) * 5 / 2);
    }
    #hero img {
        width: min(calc(40 * var(--unit-size) / 3), 100%);
    }
}

@media (width < 744px) {
    #hero {
        grid-template-columns: minmax(0, 1fr);
        padding-top: calc(2 * var(--unit-size));
        padding-bottom: calc(2 * var(--unit-size));
    }
    #hero img {
        width: min(calc(8 * var(--unit-size)), 100%);
    }
}
