<a href="/" class="brand">
  <img src="/images/logo_light.svg" width="36" height="36" alt="Hajime Hoshi logo" class="light-mode">
  <img src="/images/logo_dark.svg" width="36" height="36" alt="Hajime Hoshi logo" class="dark-mode">
  <span>Hajime Hoshi</span>
</a>
<div class="header-actions">
  {{ $pagePath := .Page.Path }}
  <nav aria-label="Primary">
    <a href="/profile"{{ if eq $pagePath "/profile" }} aria-current="page"{{ end }}>Profile</a>
    <a href="/writing"{{ if eq $pagePath "/writing" }} aria-current="page"{{ end }}>Writing &amp; Talks</a>
  </nav>
  <hhdc-color-mode-toggle></hhdc-color-mode-toggle>
</div>
